    
    <div id="mainNav" class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light text-uppercase navbar-shrink">
            <a class="navbar-brand d-md-none" href="/">AIRDATE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>

            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                        <i class="fa fa-home"></i> AIR DATE
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Create Profile</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/trips">Add Trip</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
