<div class="container mt-5">
  <form class="mt-5">
    </div>
    <h4 class="form-title mt-5">Your Trip Details</h4>
    <div class="card-deck">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LAS to TOR</h5>
          <p class="card-text">Destination: Toronto, Canada</p>
          <p class="card-text">Departing Date: 10 AM - Nov 22, 2020.</p>
          <p class="card-text">Return Date: 9 PM - Nov 30, 2020.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TOR to CHI</h5>
          <p class="card-text">Destination: Toronto, Canada</p>
          <p class="card-text">Departing Date: 10 AM - Nov 22, 2020.</p>
          <p class="card-text">Return Date: 9 PM - Nov 30, 2020.</p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NYC to LAS</h5>
          <p class="card-text">Destination: Toronto, Canada</p>
          <p class="card-text">Departing Date: 10 AM - Nov 22, 2020.</p>
          <p class="card-text">Return Date: 9 PM - Nov 30, 2020.</p>  
        </div>
      </div>
    </div>
  </form>
</div>