<form>
    <h6>Enter your Trip Details</h6>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        <div class="form-row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Time">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="What Will you be Doing?">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Location">
            </div>
            <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
</form>