<div class="container mt-5">
  <form class="mt-5">
    <h6 class="form-title mt-3">PICK A LOCATION AND DATE</h6>
    <div class="form-row mt-3">
      <div class="col">
        <input id="airport" type="text" class="form-control" placeholder="Airport">
        <ul id="suggestions" class="list-group"></ul>
      </div>
      <div class="col">
        <input id="date" type="date" class="form-control" placeholder="Date">
      </div>
    </div>
    
    <div class="search-button">
      <button type="submit" class="btn btn-lg mt-5 col-2 offset-10">Search</button>
    </div>
    </form>
</div>