{{> nav }}
<div id="index" class="container mt-5">
  <form class="mt-5">
    <h6 class="form-title mt-3">PICK A LOCATION AND DATE</h6>
    <div class="form-row mt-3">
      <div class="col">
        <input id="airport" type="text" class="form-control" placeholder="Airport">
        <ul id="suggestions" class="list-group"></ul>
      </div>
      <div class="col">
        <input id="date" type="date" class="form-control" placeholder="Date">
      </div>
    </div>
    <h6 class="form-title mt-5">PICK A TIME SLOT</h6>
    <ul class="time-slots list-group list-group-horizontal text-center mt-3 d-flex justify-content-between">
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="0">11AM - 12PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="0">12PM - 1PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="1">1PM - 2PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="2">3PM - 4PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="3">4PM - 5PM</li>
    </ul>
    <ul class="time-slots list-group list-group-horizontal text-center mt-3 d-flex justify-content-between">
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="4">5PM - 6PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="5">7PM - 8PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="6">8PM - 9PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="7">9PM - 10PM</li>
      <li class="col-2 list-group-item list-group-item-light" data-time-slot="7">10PM - 11PM</li>
    </ul>
    <div class="search-button">
      <button type="submit" class="btn btn-lg mt-5 col-2 offset-10">Search</button>
    </div>
    </form>
</div>