 <div class="container mt-5">
    <form>
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Your Age</label>
            <div class="col-4">
                <input type="number" class="form-control" id="inputYourAge">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Desired Age Range</label>
            <div class="col-4">
                <input type="number" class="form-control" id="inputMinimumAge">
            </div>
            <div class="col-4">
                <input type="number" class="form-control" id="inputMaximumAge">
            </div>
        </div>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>I am a...</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>I am looking for...</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="inputAboutMe" placeholder="About Me" rows="3"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>