.list-group-horizontal .list-group-item {
  border-left-width: 1px !important;
  padding: 2.75rem 0 !important;
}

#suggestions {
  position: absolute;
  z-index: 10;
}

#suggestions .list-group-item:hover {
  color: #fff;
  background-color: #ff7001;
  opacity: 0.8;
  cursor: pointer;
}

.search-button button {
  color: #fff !important;
  background-color: #ff7001 !important;

  padding: 1rem 2rem !important;
}

.selected {
  border: 1px solid #ff7001;
}

/* .index_body {

  background: url(./assets/bg/map.jpg);

}

@media only screen and (max-width: 767px) {

  .index_body {

    background-image: url(./assets/bg/map.jpg);
  }
  } */

  body{
    padding: 0px;
    margin: 0px;
  }