.list-group-horizontal .list-group-item {
  border-left-width: 1px !important;
  padding: 2.75rem 0 !important;
}

#suggestions {
  position: absolute;
  z-index: 10;
}

#suggestions .list-group-item:hover {
  color: #fff;
  background-color: #d46b4e;
  opacity: 0.8;
  cursor: pointer;
}

.search-button button,
.signup-button button,
.addtrip-button button {
  color: #fff !important;
  background-color: #d46b4e !important;

  padding: 1rem 2rem !important;
}

.selected {
  border: 1px solid #d46b4e;
}

.form-container {
  height: 100%;
  color: #212529;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  /* padding: 15px; */
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin button {
  border-color: #d46b4e;
  background-color: #d46b4e;
  opacity: 0.9;
}

.form-signin button:hover {
  border-color: #d46b4e;
  background-color: #d46b4e;
  opacity: 1;
}
